.cookies-banner.d-none.js-cookies-banner
	button.cookies-banner__btn-close.js-reject-cookies
		span.icomoon-close.fw-bold
	|
	|
	.cookies-banner__icon
		img(src="img/cookies-banner-icon.svg" alt="Icon")
	|
	|
	.cookies-banner__text.text-block.text-sm
		p Questo sito web utilizza i cookies per analisi e per migliorare i servizi offerti. Cliccando su “Accetto”, si acconsente al loro utilizzo in conformità con la nostra <a href="privacy-policy.html">Politica sui Cookies</a>.
	|
	|
	.text-end
		a(href="#" class="link-with-arrow sm text-white js-accept-cookies") Accetto