section.section-contact-us.section.pb-0
	.section-contact-us__wrap
		.container
			.row.align-items-center.mb-8.d-sm-none
				.col-3
					img(src="img/section-contact-us-arrow.svg" alt="Arrow image" class="d-block" data-aos="fade-right")
				.col-9
					h2.mb-0 Contattaci
			.row
				.col-3.col-sm-4.col-md-2.col-xl-4.d-none.d-sm-block
					.section-contact-us__arrow-img-wrap(data-aos="fade-right")
						img(src="img/section-contact-us-arrow.svg" alt="Arrow image" class="section-contact-us__arrow-img")
				.col-sm-8.col-md-5.col-xl-4
					.section-contact-us__text-content
						.section-contact-us__title-wrap
							h2.mb-8.d-none.d-sm-block Contattaci
							.text-block.fz-20-on-mobile
								p Scrivici per scoprire quanto risparmi!
						.text-end.text-sm-start
							a(href="contatti.html#section-write-to-us" class="link-with-arrow") Scrivici
				.col-sm-8.col-md-5.col-xl-4.offset-sm-4.offset-md-0
					.section-contact-us__img-wrap
						.section-contact-us__img
							img(src="img/section-contact-us-img.jpg" alt="Image" class="of-cover position-right")