footer.footer.sticky.js-footer
	.container
		a(href="#" class="footer__logo")
			img(src="img/logo.svg" alt="Logo")
		|
		|
		.footer__nav
			ul.footer-nav
				li.footer-nav__item
					a(href="index.html" class="footer-nav__link") Home
				li.footer-nav__item
					a(href="servizi.html" class="footer-nav__link") Servizi
				li.footer-nav__item
					a(href="chi-siamo.html" class="footer-nav__link") Chi siamo
				li.footer-nav__item
					a(href="contatti.html" class="footer-nav__link") Contatti
				li.footer-nav__item
					a(href="preventivatore.html" class="footer-nav__link") Preventivatore
				li.footer-nav__item
					a(href="privacy-policy.html" class="footer-nav__link") Legal Notes
		|
		|
		.footer__copyright.remove-last-child-margin
			p.mb-2 Copyright © <span class="js-year"></span> Credito Digitale. All Rights Reserved.
			p Crafted with love by <a href="https://www.mokkastudios.com" target="_blank"><span class="icomoon-mokka-studio"></span> Mokka Studios</a>